.productD{
    background-color: white;
    width: 80%;
    margin: auto;
    &__left{
        border-right: 1px solid rgb(209, 209, 209);
        .md-tabs {
            margin-bottom: 24px;
          }
        &__top{
            border-bottom: 1px solid rgb(209, 209, 209);
            display: flex;
            &__image{
                margin: 15px 0px;
                border: 1px solid rgb(209, 209, 209);
                padding: 0px;
                img{
                    width: 100%;
                }
            }
            &__info{
                padding: 15px 20px;
                &__title{
                    font-size: 30px;
                    font-weight: 600;
                }
                &__price{
                    font-size: 15px;
                    &__1{
                        color: red;
                        font-size: 20px;
                    }
                }
                &__order{
                    display: flex;
                    &__count{
                        display: flex;
                        &--change{
                            padding: 7px 15px;
                            border: 1px solid rgb(209, 209, 209);
                        }
                        &--num{
                            text-align: center;
                            width: 60px;
                            border: 1px solid rgb(209, 209, 209);
                            border-left: none;
                            border-right: none;
                        }
                    }
                    &__add{
                        // margin: auto;
                        cursor: pointer;
                        margin-left: 10px;
                        border: none;
                        padding: 7px 15px;
                        font-weight: 600;
                        background-color: orange;
                        color: white;
                        &:hover{
                            background-color: #a04000;
                        }
                    }
                }
                >p{
                    margin-top: 10px;
                }
            }
            // .md-content.md-theme-default{
            //     height: auto !important;
            // }
        }
        &__tab{
            border: 1px solid rgb(209, 209, 209);
            border-top:none ;
            // max-height: 300px;
            width: 100%;
            .md-tabs-navigation{
                border-bottom: 1px solid rgb(209, 209, 209);
                .md-active{
                    color: orange !important;
                }
            }
            .md-tabs-indicator{
                background-color: orange !important;
                bottom: -1px !important;
            }
            // .md-tabs-content {
            //     // overflow: none;
            //     padding: 0px;
            //     display: flex;
            //     overflow: auto;
            // }
        }
        &__rate{
            margin-top: 20px;
            border: 1px solid rgb(209, 209, 209);
            &__title{
                padding: 10px;
                font-size: 15px;
                font-weight: 600;
                border-bottom: 1px solid rgb(209, 209, 209);
            }
            &__box{
                align-items: center;
                display: flex;
                padding: 15px 0;
                &__left,
                &__right{
                    text-align: center;
                    &--submit{
                        margin: 5px;
                        padding: 6px 12px;
                        background-color: #00c010;
                        border: none;
                        color: white;
                        border-radius: 4px;
                        &:hover{
                            background-color: #008a0b
                        }
                    }
                    &--cancel{
                        padding: 6px 12px;
                        background-color: #c04d00;
                        border: none;
                        color: white;
                        border-radius: 4px;
                        &:hover{
                            background-color: #a04000
                        }
                    }
                    svg{
                        height: 1.5em;
                        width: 1.5em
                    }
                    .rate-tb{
                        position: relative;
                        &::after{
                            position: absolute;
                            content: '';
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                };
                &__center{
                    border-left: 1px solid #DDDDDD;
                    border-right: 1px solid #DDDDDD;
                    ul{
                        margin-bottom: 0;
                        li{
                            padding: 2px 0;
                            align-items: center;
                            .col-7{
                                height: 6px;
                                background-color: #F1F1F1;
                                position: relative;
                                .ratio-star{
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    height: 6px;
                                    background-color: orange;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &__right{
        padding: 15px;
        &__product{
            &__title{
                font-size: 15px;
                font-weight: 600;
            }
        }
    }
    .modal-login{
        .display-modal-login{
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0, 0.8);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
        }
        .userlogin{
            left: 38%;
            position: fixed;
            top: 130px;
            z-index: 101;
            background: none;
            width: 0;
            &__box{
                width: 400px;
            }
        }
    }
    .box-comment{
        .box-comment-content{
            padding: 20px;
        }
    }
}
